@charset "UTF-8";


#d {
	font: 200% Arial;
	margin: 45px 0 0 0;
}

#r {
	font: 200% Arial;
	margin: 23px 0 0 35px;
}

#lineG {
	width: 150px;
	height: 0px;
	border: 2px solid red;
	margin: 80px 0 0 3px;
	position: absolute;
}

#lineV {
	width: 0px;
	height: 70px;
	border: 1px solid red;
	margin: 86px 0 0 80px;
	position: absolute;
}

#arrowLeft {
	width: 10px;
	height: 10px;
	border-bottom: 3px solid red;
	border-left: 3px solid red;
	margin: 75px 0 0 3px;
	transform: rotate(45deg);
	position: absolute;
}

#arrowRight {
	width: 10px;
	height: 10px;
	border-top: 3px solid red;
	border-right: 3px solid red;
	margin: 75px 0 0 144px;
	transform: rotate(45deg);
	position: absolute;
}

#arrowTop {
	width: 6px;
	height: 6px;
	border-top: 2px solid red;
	border-left: 2px solid red;
	margin: 86px 0 0 77px;
	transform: rotate(45deg);
	position: absolute;
}

#arrowBottom {
	width: 6px;
	height: 6px;
	border-bottom: 2px solid red;
	border-right: 2px solid red;
	margin: 150px 0 0 77px;
	transform: rotate(45deg);
	position: absolute;
}

#round{
	width: 160px;
	height: 160px;
	border: 3px solid black;
	border-radius: 85px;
	text-align: center;
	background: radial-gradient(white, #C7C7C7);
	margin: 25px 0 10px 10px;
}

.titleFirst {
	color: black;
	margin: 20px 0 20px 0px;
	font: bold 180% serif;
	text-align: center;
}

.title {
	font-size: 1.5em;
	color: black;
	margin: 6px 0 12px 0;
	text-align: center;
	font: bold italic 150% serif;
}

.title1 {
	text-align: center;
	font: bold 100% serif;
	margin: 12px 0 0 170px;
	position: absolute;
}

.title2 {
	font: bold 150% serif;
	margin: 45px 0 0 210px;
	position: absolute;
}

.titleColor {
	color: red;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;
	margin: 0;}



#img-formula {
	width: ;
	height: 100px;
}

.blockImgFormula {
    width: 420px;
    height: 253px;
    border: 1px solid red;
    margin-right: 3px;
    margin-top: 8px;
    padding-left: 10px;
    float: left;
}

.blockImgFormulaOne {
	margin-left: 36px;
}

.firstBlock {
	width: 420px;
	height: 220px;
	/* border: 1px solid gray; */
	padding: 8px 5px 0 0;
	float: left;
}

.secondBlock {
	width: 420px;
	height: 124px;
	border: 1px solid red;
	float: left;
}

.secondBlock1 {
	width: 420px;
	height: 124px;
	border: 1px solid red;
	margin-top: 3px;
	float: left;
}


#setCord {
	width: 50px;
	height: 40px;
	font: 120% Arial;
	border: 1px solid red;
	margin: 18px 0 0 5px; 
}

#text {
	width: 340px;
	font-size: 1.035em;
	text-indent: 1em;
	text-align: justify;
	/* line-height: 1.1em; */
	margin: 12px 8px 4px 8px;
	float: left;
	/* position: absolute; */
}

h3 {
	color: black;
	font-size: 130%;
	margin: 8px;
	margin-top: 3px;
}

#area, #areaFull, #resAreaFull, #capAreaFull {
	color: red;
	font-size: 120%;
}

.resAreaText, .capAreaText {
	font-size: 20px;
	margin-left: 8px;
}

.selectRadio  {
	float: left;
	margin: 3px 0 0 6px;
}

.diameterOrRadius {
	width: 362px;
	height: 30px;
	border: 1px solid red;
	background-color: ;
	font: 200% Arial;
	margin: 5px 0 0 10px;
}

#resultOne {
	width: 250px;
	height: 40px;
	border: 1px solid red;
	background-color: ;
	font: 200% Arial;
	margin-left: 22px;
	margin-top: 10px;
}


#set::-webkit-inner-spin-button {
	opacity: 1;
}

.button {
	width: 120px;
	height: 120px;
	float: left;
}

#pressCalculate, #resPressCalculate, #capPressCalculate {
	width: 126px;
	height: 126px;
	margin-top: 8px;
	border-radius: 0 80px 0 0;
	outline: none;
	color: white;
	font-size: 90%;
	font-weight: 900;
	background-color: red;
	
}

#pressReset, #resPressReset, #capPressReset {
	width: 126px;
	height: 126px;
	border-radius: 0 0 80px 0;
	color: white;
	font-size: 90%;
	font-weight: 900;
	background-color: red;
	outline: none;
	margin-top: 3px;
}

footer  {
	clear: left;
	margin: 10px 0 0 28px;
	float: left;
}

/* сопротивления проводника*/


.resTeoPos {
	width: 200px;
	height: 40px;
	margin: 0 auto;
}

p {
	margin: 0px;
}

.resTitle {
	margin-top: 10px;
	color: red;
	font: bold 100% serif;
	
}

.formulaTitle {
	color: black;
	font-size: 12px;
	font: bold 100% serif;
	margin-top: 4px;
}

.resTitleOne {
	margin-left: 20px;
}

.resTitleTwo {
	margin-left: 35px;
}

.resTitleThree {
	margin-left: 60px;
}

/*Последовательное соединение резисторов*/

.resTeoline {
	width: 8px;
	border-top: 1px solid black;
	margin-top: 5px;
	float: left;
}

.resTeolineStyle {
	width: 1px;
	border-top: 1px solid black;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	
}

.resTeo {
	width: 40px;
	height: 10px	;
	border: 1px solid black;
	margin-top: 	0px;
	float: left;
	background: radial-gradient(white, #C7C7C7);
}

/*Паралельное соединение резисторов*/

.resTeoPar {
	width: 10px;
	height: 40px	;
	border: 1px solid black;
	background: radial-gradient(white, #C7C7C7);
}

.resTeolinePar {
    width: 1px;
    height: 8px;
    border-right: 1px solid black;
    margin-left: 5px;
    /* float: left; */
}

.resTeolinePar .resTeolineParBottom {

}

.resTextSelect, .resText, .capTextSelect, .capText {
	float: left;
	margin: 0 5px 0 5px;
}

.resBlockResult {
	clear: left;
	height: 25px;
	width: 420px;
}

.resInput, .capInput {
	width: 100px;
	height: 15px;
	border: 1px solid red;
}

.resInputBlock, .capInputBlock {
	width: 210px;
	height: 20px;
	padding: 1px;
	//float: left;
}

#addResistor, #addCapactitor {
	width: 25px;
	height: 25px;
	background-color: black;
	//font-size: 25px;
    font-weight: 900;
    color: white;
    margin-left: 5px;
	
}

#delResistor, #delCapactitor {
	width: 25px;
	height: 25px;
	background-color: red;
	//font-size: 20px;
    font-weight: 900;
    color: white;
}


/* соединение конденсаторов*/

.capTeoPos {
    width: 190px;
    height: 60px;
    margin: 0 auto;
}

.capTeoPosTwo {
	float: right;
}

.resCap {
    width: 3px;
    height: 26px;
    border: 1px solid black;
    margin-top: 0px;
    float: left;
    background: radial-gradient(white, #C7C7C7);
}

.resCapZero {
    width: 3px;
    height: 26px;
    border: 1px solid #ffffff;
    margin-top: 0px;
    float: left;
}

.capTeoline {
    width: 20px;
    border-top: 1px solid black;
    margin-top: 13px;
    float: left;
}

.capTeolineStyle {
    width: 1px;
    border-top: 1px solid black;
    margin-top: 13px;
    margin-left: 5px;
    float: left;
}

.capTeolineParFull {
	width: 110px;
    border-top: 1px solid black;
}

.capDotOne {
	margin: -71px 0 0 115px;
	float: left;
}

.capDotTwo {
	margin: -14px 0 0 115px;
	float: left;
}

.capTeolineStylePar {
    width: 1px;
    border-top: 1px solid black;
    margin-top: 13px;
    margin-left: 5px;
    float: left;
}

.capTeolineParFull1 {
	width: 110px;
    border-top: 1px solid black;
    margin-top: 57px;
}

.capTeolineParFullThree {
	width: 32px;
    border-top: 1px solid black;
    margin-left: 145px;
}

.capactitorPar {
	float: left;
}

.capactitorParTwo {
	margin-top: -1px;
	margin-left: 146px;
}

.capactitorParTwoRes {
	margin-left: 155px;
}

#capactitorParOne {
	margin-left: 10px;
}

#capactitorParTwo {
	margin-left: 30px;
}

.capPar {
	width: 26px;
    height: 3px;
    border: 1px solid black;
    margin-top: 0px;
    background: radial-gradient(white, #C7C7C7);
}

.capTeolinePar {
    height: 21px;
    width: 0px;
    border-right: 1px solid black;
    margin-left: 14px;
}

.capTitleOne {
	margin-left: 18px;
}

.capTitleTwo {
	margin-left: 32px;
}

.capTitleThree {
	margin-left: 58px;
}

.capZero {
    width: 26px;
    height: 3px;
    border: 1px solid #ffffff;
    margin-top: 0px;
}

/* Базовый контейнер табов */
.tabs {
  min-width: 320px;
  max-width: 1050px;
  padding: 0px;
  margin: 0 auto; 
}
/* стили секций с содержанием */
section {
   display: none;
   padding: 10px;
   height: 365px;
   width: 1050px;
   background: #fff;
   border: 1px solid red;
}
input[name="tabs"] {
	color: #aaa;
    display: none;
}
/* стили вкладок (табов) */
.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid red;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}

/* блок ввода значений резисторов, конденсаторов */

.resAllInputBlock, .capAllInputBlock {
	width: 400px;
	height: 150px;
}

/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
  color: #6B6B6B;
  cursor: pointer;
}
/* стили для активной вкладки */
.tabs input:checked + label {
  color: red;
  
  border: 1px solid red;
  border-top: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  border-bottom: 1px solid #fff;
  background: #fff;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}


/* медиа запросы для различных типов носителей */  
@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 0;
  }
 

  .tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .tabs label {
    padding: 15px;
  }
}

footer {
	margin-top: 10%;
	margin-left: 9%;
}